* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

/* font-family: 'Raleway', sans-serif; */


/*  ===============
    Common Css Ends
================  */

.mb-15 {
    margin-bottom: 15px;
}


/*  ===============
    Spacing Css Ends
================  */

h1 {
    font-family: 'Raleway', sans-serif;
    color: #e9252b;
    text-align: center;
    margin-top: 20px;
}

.form {
    width: 350px;
    height: 520px;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    left: 15px;
    display: none;
    overflow-y: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-container {
    position: relative;
    overflow: hidden;
}

.form-container .form-close-btn {
    width: 350px;
    height: 60px;
    background: #e9252b;
    box-sizing: border-box;
    padding: 12px 18px 0;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 100;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-container .form-close-btn button {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #EC4F54;
    font-size: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-container .form-close-btn button span {
    opacity: 0;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.form-container .form-close-btn button:hover span {
    opacity: 1;

}

.form-container .form-header {
    width: 350px;
    height: 115px;
    background: #e9252b;
    padding: 18px;
    box-sizing: border-box;
    margin-top: 60px;
}

.form-container .form-header h4 {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 0 5px;
}



.form-body {
    width: 350px;
    height: auto;
    padding: 15px;
    padding-bottom: 60px;
    box-sizing: border-box;
    background: #f7f7f9;
}

.form-body form {
    width: 320px;
    margin: 0 auto;
    height: auto;
    margin-top: -25px;
    background: #fff;
    padding: 15px;
    border-left: 5px solid #e9252b;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-body form .form-grp {
    position: relative;
}

.form-body form .form-grp input {
    width: 100%;
    height: 40px;
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    border: 1px solid #d9dbe4;
    outline: none;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-body form .form-grp textarea {
    width: 100%;
    height: 40px;
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    border: 1px solid #d9dbe4;
    outline: none;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-body form .form-grp select {
    width: 100%;
    height: 40px;
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    border: 1px solid #d9dbe4;
    outline: none;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-body form .form-grp button {
    width: 100%;
    height: 40px;
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    border: 1px solid #d9dbe4;
    outline: none;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-body form .form-grp label {
    font-family: Raleway, sans-serif;
    font-size: 13px;
    padding: 0 15px;
    box-sizing: border-box;
    position: absolute;
    top: 13px;
    left: 1px;
    border-radius: 5px;
    background: #fff;
    transition: all linear .2s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.form-body form .form-grp small {
    font-family: Raleway, sans-serif;
    font-size: 12px;
    color: #e9252b;
    height: 20px;
    display: none;
}

.form-body form .form-grp:first-child label {
    top: -7px;
}

.form-body form .form-grp textarea {
    resize: none;
    height: 80px;
    padding: 12px 0 10px 15px;
}

.form-body form .form-grp button {
    cursor: pointer;
    background: #e9252b;
    color: #fff;
    font-size: 18px;
    border: none;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.form-body form .form-grp button:hover {
    background: #ed5054;
}

.form-footer {
    position: fixed;
    width: 350px;
    height: 35px;
    bottom: 0;
    background: #fff;
    text-align: center;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
}

.form-footer h4 {
    font-family: 'Raleway', sans-serif;
    color: #4f4f4f;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
}

.help {
    position: fixed;
    bottom: 0;
    left: 10px;
}

.help button {
    width: 125px;
    height: 60px;
    background: #e9252b;
    line-height: 60px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #fff;
    display: block;
    border-radius: 0;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}